<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="../static/css/estilo.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCarinho - Prontuário</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>

    <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo da PetCarinho">
        <nav class="cabecalho d-flex">
            <a href="/#home">Home</a>
            <a href="/#quem_somos">Quem somos</a>
            <a href="/#servicos">Serviços</a>
            <a href="/#depoimentos">Depoimentos</a>
        </nav>
    </header>

    <main>
        <section class="seta-mensagens">
            <a
            {% if LOGADO == 0 %}
                href="{{ url_for('dashboard') }}"
            {% elif LOGADO == 1 %}
                href="{{ url_for('pagina_usuario', codigo=codigo) }}"
            {% elif LOGADO == 2 %}
                href="{{ url_for('pagina_veterinario', codigo=codigo) }}"
            {% else %}
                href="/"
            {% endif %}
            >
                <img src="../static/img/seta.png" alt="Seta voltar"></a>

            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    <div class="mensagens">
                        {% for categoria, mensagem in mensagens %}
                            {% if categoria == 'erro' %}
                                <div class="mensagem-erro">
                                    <p>⚠️ {{ mensagem }}</p>
                                </div>
                            {% elif categoria == 'sucesso' %}
                                <div class="mensagem-sucesso">
                                    <p>🎉 {{ mensagem }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

        </section>

        <section>
            <h3 class="titulo">Prontuário</h3>
        </section>

        <section class="info-pet">
                <div class="info1 ">
                    <h2 class="mclaren">Informações do pet</h2>
                    <p class="quicksand">Nome: <span class="texto-usuario">{{ animal.nome }}</span></p>
                    <p class="quicksand">Espécie: <span class="texto-usuario">{{ animal.especie }}</span></p>
                    <p class="quicksand">Raça: <span class="texto-usuario">{{ animal.raca }}</span></p><p class="quicksand">Data de nascimento: <span class="texto-usuario">{{ animal.data_nascimento_formatada }}</span></p>
                </div>
                <div class="info3">
                    <h2 class="mclaren">Informações da última consulta</h2>
                    {% if recente and recente.datahora != "" %}
                        <p class="texto-usuario">Veterinário: {{ recente.nomevet }}</p>
                        <p class="texto-usuario">Data: {{ recente.datahora_formatada }}</p>
                        {% if 'prontuario' in recente %}
                            <p class="texto-usuario">{{ recente.prontuario }}</p>
                        {% else %}
                            <p class="texto-usuario">Não houve registro de um prontuário</p>
                        {% endif %}
                    {% else %}
                        <p class="quicksand">Essa é a primeira consulta desse paciente</p>
                    {% endif %}
                </div>

                <div class="info2">
                    <h3 class="mclaren">Sintomas relatados pelo tutor:</h3>
                    <p class="texto-usuario">{{ agendamento.sintomas}}</p>
                </div>
        </section>

        <section class="calculo flex">
                <form method="POST" action="{{ url_for('prontuario', codigo_agendamento=agendamento.codigo) }}" class="flex selecionar">
                        <h3 class="titulo2">Receita veterinária</h3>
                        <select class="input_dose quicksand" name="receita" id="receita">
                            <option value="0">Selecione:</option>
                            <option value="Medicamento">- Medicamento</option>
                            <option value="Soro">- Soro</option>
                            <option value="Nao necessario">- Não foi necessário</option>
                        </select>
                    <div>
                        <button class="botao animacao" type="submit">Selecionar</button>
                    </div>
                </form>
            <div class="doses">
                {% if tipo == "Soro" %}
                <div class="caixinha">
                        <h3>Cálculo do Soro</h3>
                        <form method="POST" action="{{ url_for('prontuario_soro', codigo_agendamento=agendamento.codigo) }}" class="flex lado">
                            <div class="dosesperguntas">
                                <div>
                                    <label for="desidratacao">Volume de fluidoterapia:</label>
                                    <select class="opcoes" name="desidratacao">
                                        <option value="leve">Leve - 50ml</option>
                                        <option value="moderada">Moderada - 75ml</option>
                                        <option value="grave">Grave - 100ml</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="peso">Peso do animal:</label>
                                    <input class="dosecss opcoes" type="number" name="peso_soro" step="0.01" value="{{ animal.peso }}" required>
                                </div>
                            </div>
                            <button class="botao" type="submit">Salvar</button>
                        </form>
                </div>

                {% elif tipo == "Medicamento" %}
                <div class="caixinha">
                        <h3>Cálculo do Medicamento</h3>
                        <form method="POST" action="{{ url_for('prontuario_medicamento', codigo_agendamento=agendamento.codigo) }}" class="flex lado">
                            <div class="dosesperguntas">
                                <div>
                                    <label for="dose_recomendada">Dose recomendada:</label>
                                    <input class="dosecss" type="number" name="dose_recomendada" step="0.01" required>
                                </div>
                                <div>
                                    <label for="peso">Peso do animal:</label>
                                    <input class="dosecss opcoes" type="number" name="peso_medicamento" step="0.01" value="{{ animal.peso }}" required>
                                </div>
                            </div>
                            <button class="botao" type="submit">Salvar</button>
                        </form>
                </div>
                {% else %}
                <div class="caixinhavazia"</div>
                {% endif %}
            </div>
        </section>
    </main>

    <footer class="flex">
        <div class="flex gap-vinte">
            <img src="../static/img/logorodape.png" alt="Logo PetCarinho" class="logo-footer">
            <div class="nav-footer flex column gap-nav-footer">
                <a href="/#home">Home</a>
                <a href="/#quem_somos">Quem somos</a>
                <a href="#servicos">Serviços</a>
                <a href="/#depoimentos">Depoimentos</a>
            </div>
        </div>
        <div class="flex inferior redes-sociais">
            <div class="flex column gap-vinte">
                <div class="redes-sociais-texto">
                    <h5 class="texto-branco">Redes Sociais:</h5>
                    <p class="texto-branco">Instagram: <a href="http://instagram.com" target="_blank"
                            class="texto-branco">@petcarinho</a></p>
                    <p class="texto-branco">Facebook: <a href="http://facebook.com" target="_blank"
                            class="texto-branco">PetCarinho Clínica Veterinária</a></p>
                    <p class="texto-branco">Twitter: <a href="http://twitter.com" target="_blank"
                            class="texto-branco">@petcarinho_vet</a></p>
                </div>
                <img src="../static/img/pagamento.png" alt="Formas de pagamento" class="pagamento">
            </div>
        </div>
    </footer>
</body>

</html>